In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store CSV you saved tin part one to a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Husavik,IS,2021-01-27 21:07:40,66.0449,-17.3389,19.40,86,75,8.25
1,1,Lompoc,US,2021-01-27 20:54:10,34.6391,-120.4579,51.80,93,90,13.80
2,2,Weiser,US,2021-01-27 21:08:32,44.2510,-116.9693,46.40,53,75,24.16
3,3,Ushuaia,AR,2021-01-27 21:08:33,-54.8000,-68.3000,41.00,87,75,24.16
4,4,Hofn,IS,2021-01-27 21:08:05,64.2539,-15.2082,25.77,89,1,14.12

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps ti use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get maximum termperature and remove negative values
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    # uses whichever value is larger b/w temp and 0 in order to get rid of negative values
    temps.append(max(temp,0))

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values. (Max Temp, Humidity, Cloudiness, Wind Speed)
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.75)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values. (Max Temp, Humidity, Cloudiness, Wind Speed)
humidity = city_data_df["Humidity"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.75)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values. (Max Temp, Humidity, Cloudiness, Wind Speed)
clouds = city_data_df["Cloudiness"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.75)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values. (Max Temp, Humidity, Cloudiness, Wind Speed)
wind = city_data_df["Wind Speed"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.75)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [18]:
# Filter the data set to find the cities that fit the criteria 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                        (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Luganville,VU,2021-01-27 21:08:34,-15.5333,167.1667,76.59,89,100,7.92
10,10,Rikitea,PF,2021-01-27 21:07:30,-23.1203,-134.9692,79.74,74,85,14.29
11,11,Butaritari,KI,2021-01-27 21:07:43,3.0707,172.7902,80.56,79,95,10.42
13,13,Arraial Do Cabo,BR,2021-01-27 21:08:35,-22.9661,-42.0278,84.20,73,0,21.85
14,14,Sosua,DO,2021-01-27 21:08:35,19.7667,-70.5167,82.40,69,20,16.11
15,15,Kapaa,US,2021-01-27 21:08:35,22.0752,-159.3190,77.00,83,90,18.41
19,19,Porangatu,BR,2021-01-27 21:08:36,-13.4408,-49.1486,80.22,81,91,2.93
21,21,Catamarca,AR,2021-01-27 21:05:08,-28.4696,-65.7852,89.01,43,100,1.99
29,29,Madang,PG,2021-01-27 21:08:37,-5.2246,145.7966,76.46,91,98,6.02
30,30,Georgetown,MY,2021-01-27 20:57:56,5.4112,100.3354,78.01,94,40,2.30

In [19]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [20]:
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

               City Country  Max Temp      Lat       Lng Hotel Name
9        Luganville      VU     76.59 -15.5333  167.1667
10          Rikitea      PF     79.74 -23.1203 -134.9692
11       Butaritari      KI     80.56   3.0707  172.7902
13  Arraial Do Cabo      BR     84.20 -22.9661  -42.0278
14            Sosua      DO     82.40  19.7667  -70.5167

In [ ]:
# Set parameters for each hotel
params = {
    "radius": 5000,
    "type":"lodging",
    "key":g_key
}